<!document html>
<html ng-app='customersApp'>
  <head>
    <script type='text/javascript' src='bower_components/angular/angular.js'></script>
    <script type='text/javascript' src='app/customers_app_done.js'></script>
    <script type='text/javascript' src='app/controllers/customersController_done.js'></script>
  </head>

  <body ng-controller="CustomersController as customersCtrl">
    <h3>Customers</h3>
    Filter: <input type="text" ng-model="customerFilter.name"/>
    <br/>
    <br/>
    <table>
      <tr>
        <th ng-click="customersCtrl.doSort('name')">Name</th>
        <th ng-click="customersCtrl.doSort('city')">City</th>
        <th ng-click="customersCtrl.doSort('orderTotal')">Order Total</th>
        <th ng-click="customersCtrl.doSort('joined')">Joined</th>
      </tr>
      <tr ng-repeat="cust in customersCtrl.customers | filter: customerFilter | orderBy:sortBy:reverse">
        <!-- <tr ng-repeat="cust in customers"> -->
        <td>{{ cust.name }}</td>
        <td>{{ cust.city}}</td>
        <td>{{ cust.orderTotal | currency }}</td>
        <td>{{ cust.joined | date}}</td>
      </tr>
    </table>
    <br/>
    <span>Total customers: {{ customersCtrl.numOfCustomers() }}</span>
  </body>
</html>
